@media screen and (max-width: 900px) {
  .copy-right--text {
       padding: 0px 5px 0px 5px;
       float: none;
       margin-bottom: 15px;
  }
  .navigation.right {
    float: none;
    text-align: center;
  }
}
