@media screen and (max-width: 900px) {
  .header {
    height: 300px;
  }
  .header .header-title {
    font-size: 24px;
    margin-top: 120px;
  }
  .header .navbar-top {
    padding: 0px 20px;
  }

  .box.body .title {
    padding: 0px 20px;
  }
  .box.body .card-child {
    width: 90%;
    margin: 0 auto;
  }
  .box.body .card-child {
    width: 90%;
    margin: 0 auto;
  }
  section.before-u-leave {
    padding: 0px 20px;
  }
  .copy-right--text {
    padding: 0px 20px 5px 20px;
    float: none;
    line-height: 1.2;
    text-align: left;
  }
  .navigation.right {
    padding: 10px 20px 10px 20px;
    float: none;
    line-height: 1.2;
    text-align: left;
  }
  .navigation.right > a:last-child{
    margin-bottom: 0px !important;
  }
  footer .copy-right .navigation.right >a {
    display: block;
    padding: 0;
    margin-bottom: 7px;
  }
}
