
body {
	line-height: 1;
  color: rgba(0,0,0,0.87);
}
a {
  text-decoration: none;
}


/*end reset css */
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
.grid-20 {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 20px;
}
.margin-bt-20{
  margin-bottom: 20px;
}
small {
  color: #00000096;
}
.text-center {
  text-align: center;
}
.pd-t-40 {
  padding-top: 40px;
}
.font-bold {
  font-weight: bold;
}
input[type="text"] {
      padding: 6px;
      width: 290px;
}
.submit {
      padding: 6px;
      margin-top: 8px;
      margin-right: 16px;
      background: #d24d4d;
      font-size: 17px;
      border: none;
      cursor: pointer;
      color: white;
      text-transform: uppercase;
}
.copy-right{
  margin-top: 60px;
}
.copy-right--text {
  float: left;
display: block;
color: black;
text-align: center;
text-decoration: none;
font-size: 17px;
color: #00000096;
}
.navigation > a {
  padding: 0px 8px;
  color: rgba(0,0,0,0.87);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.bf-leave {
  font-size: 2.2rem;
  letter-spacing: 4.2px;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}
.right {
  float: right;
}
